<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate Import Tax</title>
</head>
<body>
    <h1>Calculate Import Tax</h1>
    <a href="https://github.com/ALERTua/import_tax_calculator">Homepage</a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Calculate</button>
    </form>
    {% if tax is not None %}
        <p>Total tax to pay: {{ form.currency.value }} <b>{{ tax }}</b></p>
    {% endif %}
</body>
</html>
